@font-face {
  font-family: Suisse Intl Mono;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SuisseIntlMono/SuisseIntlMono-Regular.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Suisse Intl Mono;
  cursor: url(../images/cursor.png) 25 25, auto; }

a:hover {
  color: inherit;
  cursor: url(../images/cursor-hover.png) 25 25, auto !important; }

body {
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  cursor: url(../images/cursor.png) 25 25, auto; }

@-webkit-keyframes rotorz {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes rotorz {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }
#cosmos {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

#space {
  -webkit-perspective: 250px;
          perspective: 250px;
  -webkit-animation: rotorz 100s linear infinite;
          animation: rotorz 100s linear infinite;
  background: transparent;
  overflow: visible;
  -webkit-transition: -webkit-perspective 15s;
  transition: -webkit-perspective 15s;
  transition: perspective 15s;
  transition: perspective 15s, -webkit-perspective 15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: visible;
  /* text-align: center; */ }

#room {
  /* width: 1000px; height: 1000px; */
  width: 80vmin;
  height: 80vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* transition: transform 4000ms; */ }

.face {
  /* width: 900px; height: 900px; */
  height: 180vh;
  width: 30vmin;
  height: 180vmin;
  width: 30vmin;
  position: absolute;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
  font-size: 9px;
  overflow-wrap: break-word;
  color: #fff;
  -webkit-transition: color 900ms, background-image 1000ms, -webkit-transform 4000ms;
  transition: color 900ms, background-image 1000ms, -webkit-transform 4000ms;
  transition: color 900ms, transform 4000ms, background-image 1000ms;
  transition: color 900ms, transform 4000ms, background-image 1000ms, -webkit-transform 4000ms;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background-image: url("../images/bg-kybalion.png");
  background-image: url("../images/bg-kybalion.jpg");
  background-size: contain;
  background-repeat: repeat;
  overflow-y: auto;
  overflow: visible; }

.face span {
  padding: 0.3em 0; }

.face:hover {
  color: #0f0; }

#face-01 {
  -webkit-transform: rotateZ(calc(36deg*0)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*0)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-02 {
  -webkit-transform: rotateZ(calc(36deg*1)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*1)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-03 {
  -webkit-transform: rotateZ(calc(36deg*2)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*2)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-04 {
  -webkit-transform: rotateZ(calc(36deg*3)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*3)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-05 {
  -webkit-transform: rotateZ(calc(36deg*4)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*4)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-06 {
  -webkit-transform: rotateZ(calc(36deg*5)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*5)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-07 {
  -webkit-transform: rotateZ(calc(36deg*6)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*6)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-08 {
  -webkit-transform: rotateZ(calc(36deg*7)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*7)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-09 {
  -webkit-transform: rotateZ(calc(36deg*8)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*8)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#face-10 {
  -webkit-transform: rotateZ(calc(36deg*9)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1);
          transform: rotateZ(calc(36deg*9)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

.preview {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  pointer-events: none;
  -webkit-transition: opacity 3s, -webkit-transform 10s;
  transition: opacity 3s, -webkit-transform 10s;
  transition: opacity 3s, transform 10s;
  transition: opacity 3s, transform 10s, -webkit-transform 10s;
  background-image: url(https://www.hisour.com/wp-content/uploads/2018/03/Postdigital-1280x720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .preview.hide {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }

#ui {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 3s;
  transition: opacity 3s; }
  #ui.hide {
    opacity: 0;
    pointer-events: none; }
    #ui.hide #numogram svg {
      opacity: 0; }
    #ui.hide.home #numogram svg {
      height: 400vh; }
  #ui #top, #ui #bottom {
    position: absolute;
    left: 0;
    right: 0; }
  #ui #top {
    top: 0;
    padding: 0.3em 0.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #ui #bottom {
    z-index: 1;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.3em 0.7em 0; }
    #ui #bottom p {
      margin-bottom: 0; }

.mmodal {
  z-index: 3;
  -webkit-transition: opacity 3s;
  transition: opacity 3s; }
  .mmodal .mmodal-content, .mmodal .mmodal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .mmodal .mmodal-bg {
    z-index: 3;
    background-color: black;
    -webkit-transition: top 600ms, bottom 600ms, left 600ms, right 600ms, -webkit-filter 300ms;
    transition: top 600ms, bottom 600ms, left 600ms, right 600ms, -webkit-filter 300ms;
    transition: filter 300ms, top 600ms, bottom 600ms, left 600ms, right 600ms;
    transition: filter 300ms, top 600ms, bottom 600ms, left 600ms, right 600ms, -webkit-filter 300ms; }
  .mmodal .mmodal-content {
    z-index: 4;
    color: white;
    overflow-y: scroll; }
  .mmodal.blurred .mmodal-bg {
    -webkit-filter: blur(80px);
            filter: blur(80px);
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px; }
  .mmodal.hide {
    opacity: 0;
    pointer-events: none; }

#modal-work .mmodal-bg {
  background-color: black; }
#modal-work #top-ui {
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.3em 0.7em;
  background-color: black; }

#numogram svg {
  height: 80vh;
  pointer-events: none;
  -webkit-transition: opacity 4s, height 4s;
  transition: opacity 4s, height 4s;
  -webkit-transition: opacity 4s, height 6s cubic-bezier(0.22, 1, 0.36, 1);
  transition: opacity 4s, height 6s cubic-bezier(0.22, 1, 0.36, 1); }
  #numogram svg * {
    pointer-events: none; }
  #numogram svg g[id^="item"] {
    pointer-events: auto;
    fill: rgba(0, 0, 0, 0);
    cursor: url(../images/cursor-hover.png) 25 25, auto;
    cursor: url(../images/cursor-hover.png) 25 25, auto; }
    #numogram svg g[id^="item"] * {
      pointer-events: auto; }
    #numogram svg g[id^="item"] circle {
      -webkit-transition: opacity 1s;
      transition: opacity 1s; }
    #numogram svg g[id^="item"] image {
      -webkit-transition: -webkit-filter 1s;
      transition: -webkit-filter 1s;
      transition: filter 1s;
      transition: filter 1s, -webkit-filter 1s; }
    #numogram svg g[id^="item"]:hover circle {
      opacity: 1 !important; }
    #numogram svg g[id^="item"]:hover image {
      -webkit-filter: none !important;
              filter: none !important; }
  #numogram svg:hover g[id^="item"] {
    cursor: url(../images/cursor-hover.png) 25 25, auto; }
    #numogram svg:hover g[id^="item"] circle {
      opacity: 0.5; }

img.preload {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: none; }

#opening {
  text-align: center;
  padding: 15vh 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #opening #p5-morph {
    margin: -12.5% 0; }

.max-w {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }

.grad-black-down {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(rgba(0, 0, 0, 0.3)), to(transparent));
  background: linear-gradient(0, rgba(0, 0, 0, 0.3), transparent); }

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.3); }

.pointer {
  cursor: url(../images/cursor-hover.png) 25 25, auto; }

.no-u {
  text-decoration: none; }

main {
  display: none; }

#modal-home .mmodal-bg {
  background-color: transparent !important; }

@media only screen and (max-width: 425px) {
  #ui #bottom {
    pointer-events: none; }
    #ui #bottom .btn-mob {
      opacity: 1;
      pointer-events: all; }
      #ui #bottom .btn-mob.hide {
        opacity: 0;
        pointer-events: none; } }
img.logos {
  opacity: 0.7;
  width: 100%;
  max-width: 400px; }

.cursor-hover {
  cursor: url(../images/cursor-hover.png) 25 25, auto !important; }

.lh-l {
  line-height: 2.8em; }

.opacity-0 {
  opacity: 0; }

#work {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 60px;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden; }

.embed-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  max-height: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

iframe#suzanne {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 120px);
  display: none; }
  iframe#suzanne.active {
    display: block; }

#work-ui-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px; }

.font-shiny {
  color: #01FE92 !important;
  text-shadow: 0px 0px 14px #01FE92; }

.font-soft {
  opacity: 0.9; }

.font-white {
  color: white; }

.font-green {
  color: #01FE92; }

.font-l {
  font-size: 1.5vw; }

.font-m {
  font-size: 27px; }
  @media only screen and (max-width: 425px) {
    .font-m {
      font-size: 22px; } }

.font-s {
  font-size: 11px; }

p.max {
  max-width: 54em; }

/*# sourceMappingURL=style.css.map */