


* { 
  margin: 0; padding: 0; 
  color: white;
}

body {
  background-color: black;
  max-width: 100vw; max-height: 100vh;
  overflow: hidden;
}

@keyframes rotorz {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

#space {
  perspective: 250px;

  animation: rotorz 100s linear infinite;
  background: transparent;
  overflow: visible;
  transition: perspective 3s;
  display: flex; align-items: center; justify-content: center;
  height: 100vh;
  overflow: visible;
  /* text-align: center; */
}
#room {
  /* width: 1000px; height: 1000px; */
  width: 80vmin; height: 80vmin;
  display: flex; align-items: center; justify-content: center;
  transform-style: preserve-3d;
  /* transition: transform 4000ms; */
}
.face {
  
  /* width: 900px; height: 900px; */
  height: 180vh; width: 30vmin;
  height: 180vmin; width: 30vmin;

  position: absolute;
  backface-visibility: inherit;
  font-size: 9px;
  overflow-wrap: break-word;
  color: #fff;
  transition: color 900ms, transform 4000ms, background-image 1000ms;
  transform-origin: center center;
  background-image: url('bg-kybalion.png');
  background-size: contain;
  background-repeat: repeat;

  overflow-y: auto;
  overflow: visible;
}    
.face span { padding: 0.3em 0; }
.face:hover {
  color: #0f0;
}

/* substitution */

/*  
.face:hover {
  background-image: url('high2.png');
}
*/


/* addition */
/*  
.face:hover::after {
  position: absolute; content: "";
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url('high2.png');
  background-size: contain;
  background-repeat: repeat;
}
*/


#face-01 { transform: rotateZ(calc(36deg*0)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-02 { transform: rotateZ(calc(36deg*1)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-03 { transform: rotateZ(calc(36deg*2)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-04 { transform: rotateZ(calc(36deg*3)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-05 { transform: rotateZ(calc(36deg*4)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-06 { transform: rotateZ(calc(36deg*5)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-07 { transform: rotateZ(calc(36deg*6)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-08 { transform: rotateZ(calc(36deg*7)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-09 { transform: rotateZ(calc(36deg*8)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }
#face-10 { transform: rotateZ(calc(36deg*9)) rotateX(90deg) translateZ(calc(30vmin*1.52)) scaleX(-1); }

#ui {
  z-index: 1;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex; align-items: center; justify-content: center;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

#modal {
  z-index: 2;
  transition: opacity 600ms;

  #modal-content, #modal-bg {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  #modal-bg {
    z-index: 2;
    background-color: black;
    transition: filter 300ms, top 600ms, bottom 600ms, left 600ms, right 600ms;
  }
  #modal-content {
    z-index: 3;
    padding: 100px;
    color:  white;
  }

  &.blurred {
    #modal-bg {
      filter:  blur(80px);
      top: 30px; bottom: 30px; left: 30px; right: 30px;
      // transform: scale(0.85);
    }
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

















